{% load i18n %}
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
</head>
<body>
<b><h4>{% trans "VNFFG information" %}<br/></b></h4>
<table style="width:100%">
  <tr>
    <th><b>{% trans "VDU" %}<br/></b></th>
    <th><b> {% trans "MGMT IP Address" %} <br/></b></th>
  </tr>
{% for key, value in vnffg.vnffg.mgmt_ip_address.items %}
  <tr>
    <td>{{ key }}</td> <td>{{ value }}</td>
  </tr>
{% endfor %}
</table>
</body>
